@import "~sass-rem";
@import "src/styles/_variables.scss";

.btn {
  font: rem(18px $font-stack) ;
  padding: rem(10px);
  background: transparent;
  color: $primary-color;
  border-radius: rem(5px);
  border: rem(2px solid $primary-color);
  text-decoration: none;

  &:hover {
    background-color: rgba(204, 204, 0, 0.13);
    color: $primary-color;
    cursor: pointer;
  }
}