@import '~sass-rem';
@import "src/styles/_variables.scss";

.contact {
  display: flex;
  justify-content: center;
  background-color: $primary-color;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  svg {
    position: absolute;
    top: 0;
  }

  .contactForm {
    padding: rem(20px);
    display: flex;
    flex-direction: inherit;
    align-items: center;
    margin: rem(30px) auto;

    ul {
      display: flex;
      align-items: stretch; /* Default */
      margin: 0;
      padding: 0;

      li {
        display: block;
        flex: 0 1 auto; /* Default */
        list-style-type: none;
        margin-right: rem(10px);
      }
    }

    form {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      width: 100%;

      input, textarea {
        margin-bottom: rem(5px);
        appearance: none;
        border: 1px solid $bg-color;
        line-height: 0;
        width: 100%;
        font-size: rem(20px);
        background: $primary-color;
        font-family: $font-stack;
        display: block;
        box-sizing: border-box;
        padding: 15px 20px;
        position: relative;
        transition: all 0.25s cubic-bezier(.53,.01,.35,1.5);

        &:focus {
          outline: none;
          background: white;
          color: $bg-color;
        }
      }

      button {
        appearance: none;
        border: 1px solid $bg-color;
        font: rem(18px $font-stack);
        padding: rem(10px);
        background: transparent;
        color: $bg-color;
        border-radius: rem(5px);
        text-decoration: none;

        &:hover {
          background-color: rgb(255, 255,255);
          color: $bg-color;
          cursor: pointer;
        }
      }

      textarea {
        line-height: initial;
      }
    }
  }

  .copyRight {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0 auto;
     width: 100%;
     height: rem(40px);
     padding: rem(10px);
     position: absolute;
     bottom: 0;
  }
}