@import '~sass-rem';
@import "src/styles/_variables.scss";

.contact {
  display: flex;
  background-color: $primary-color;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  min-width: 100vw;

  @media screen and (max-width: $tablet-width) {
    flex-direction: column;
  }

  .headingContainer {
    display: flex;
    justify-content: center;
    padding: rem(10px);
    width: 50%;
    align-items: center;
    background-color: $secondary-color;

    @media screen and (max-width: $tablet-width) {
      width: 100%;
      background-color: $primary-color;
    }


    h1 {
      font-size: rem(80px);
      line-height: 1;
      letter-spacing: 0.1em;
      font-weight: normal;
      text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5);
      position: relative;

      @media screen and (max-width: $tablet-width) {
        font-size: rem(60px);
      }

      &:after {
        content: '';
        border-bottom: 7px solid $orangered;
        position: absolute;
        bottom: rem(-25px);
        right: rem(11px);
        width: rem(150px);
      }
    }
  }

  .contactForm {
    padding: rem(20px);
    display: flex;
    align-items: center;
    margin: rem(50px) auto;
    width: 50%;
    flex-direction: column;

    .imageWrapper {
      border: solid var(--bio-image-border-width, 8px) var(--bio-image-border-color, $orangered);
      overflow: hidden;
      width: auto;
      height: auto;
      border-radius: 5px;
      box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.75);

      img {
        width: rem(250px);
        height: rem(250px);
        object-fit: cover;
        display: block;
        transform: scale(1.2);
      }
    }

    .mailLink {
      text-decoration: none;
      font-size: rem(30px);
      margin-top: rem(30px);
      color: $orangered;
      transition: color 1s ease-in;
      cursor: pointer;
      position: relative;

      &:hover {
         opacity: 0.7;
         &:after {
           opacity: 1;
           width: 100%;
         }
      }

      &:after {
        content: '';
        border-bottom: 2px solid;
        width: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: all 400ms ease-in-out;
      }
    }


    ul {
      display: flex;
      margin: rem(30px) 0 0 0;
      padding: 0;

      li {
        display: block;
        flex: 0 1 auto; /* Default */
        list-style-type: none;
        margin-right: rem(15px);

        svg {
          color: $orangered;
        }
      }
    }
  }

  .copyRight {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: rem(40px);
    padding: rem(10px);
    position: absolute;
    bottom: 0;
  }
}