$font-stack: Lato,Helvetica, sans-serif;
//Break Points
$mobile-width: 730px;
$tablet-width: 920px;
// colors
$white: #ffffff;
$bg-color: #001a34;
$bg-color-secondary: #00274e;
$primary-color: #cccc00;
$secondary-color: #999900;
$teritary-color:  #565656;
// z-index
$lottie-zIndex: 200;
$sticky-header-zIndex:100;
$menu-mobile-zIndex: 50;
$heading-zIndex: 25;
// Width
$max-width : 1150px;