@import '~sass-rem';
@import "src/styles/_variables.scss";

.heading {
  line-height: 0.5;
  text-align: center;
  font-size: rem(30px);

  span {
    display: inline-block;
    position: relative;

    &:before, &:after {
      content: "";
      position: absolute;
      height: 5px;
      border-bottom: 1px solid white;
      border-top: 1px solid white;
      top: rem(6px);
      width: rem(300px);
    }

    &:before {
      right: 100%;
      margin-right: 15px;
    }

    &:after {
      left: 100%;
      margin-left: 15px;
    }
  }
}