@import 'src/styles/_variables.scss';
@import "~sass-rem";

.about {
  color: $primary-color;
  padding: rem(20px);
  background: $bg-color-secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .wrapper {
    max-width: rem($max-width);
    display: flex;
    justify-content: space-around;
    margin: rem(50px) auto;

    @media only screen and (max-width: $mobile-width)  {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }

    .profileDiv {
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        margin-bottom: rem(10px);
        img {
          width: rem(250px);
          height: rem(250px);
          object-fit: cover;
          display: block;
          border-radius: 50%;
        }
      }

      div {
        p {
          text-align: center;
          color: $white;
          font-size: rem(18px);
          font: $font-stack;
          span, a {
             color: $primary-color;
          }
        }
      }
    }

  }

  .skills {
    width: 100%;
  }
}