@import 'src/styles/_variables.scss';
@import "~sass-rem";

.about {
  display: flex;
  justify-content: space-around;
  color: $primary-color;

  .profileDiv {
    display: flex;
    position: relative;
    a {
      img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        display: block;
        filter: brightness(70%);
        transition: all 1s ease;
      }

      &:hover {
         img {
           filter: brightness(100%);
         }
      }
    }
  }

  .aboutMe {
    h1 {
      font-size: rem(60px);
      margin-top: rem(5px);
      letter-spacing: 7px;
      text-shadow: -2px -2px 0px $primary-color,
      3px 3px 0px $secondary-color,
      3px 3px 0px $bg-color;
    }

    h3 {
      font-size: rem(20px);
      color: $secondary-color;
      margin-bottom: rem(5px);
    }
  }
}