@import 'src/styles/_variables.scss';
@import "~sass-rem";

.about {
  color: $primary-color;
  padding: rem(20px);
  display: flex;
  background-color: $bg-color-secondary;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .wrapper {
    max-width: rem($max-width);
    display: flex;
    width: 100%;
    margin: rem(50px) auto;

    @media only screen and (max-width: $tablet-width) {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .profileDiv {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-left: rem(10px);

      @media screen and (max-width: $tablet-width) {
        margin-left: 0;
        margin-bottom: rem(15px);
      }

      a {
        margin-bottom: rem(10px);

        img {
          width: rem(250px);
          height: rem(250px);
          object-fit: cover;
          display: block;
          border-radius: 50%;
        }
      }

      div {
        p {
          text-align: center;
          color: $white;
          font-size: rem(18px);
          font: $font-stack;

          span, a {
            color: $primary-color;
            margin: auto rem(5px);
          }
        }
      }
    }

  }

  .skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: rem(10px);
    justify-content: space-around;

    @media screen and (max-width: $tablet-width) {
      margin-right: 0;

      > div {
        margin-bottom: rem(10px);
      }

    }
  }
}