@import "~sass-rem";
@import "src/styles/variables";

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  min-height: 100vh;
  min-width: 100vw;
  background-color: $bg-color-secondary;
  color: $primary-color;

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    max-width: $max-width;
    grid-auto-flow: dense;

    img {
       width: 100%;
       height: auto;
    }
  }
}

.big {
  grid-column: span 2;
  grid-row: span 3;
}