@import "~sass-rem";
@import "src/styles/_variables.scss";

.header {
  padding: rem(20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width:100%;
  top: 0;
  height: auto;
  z-index: $sticky-header-zIndex;

  .logo {
    display: flex;

    img {
      width: rem(60px);
      cursor: pointer;
      height: 100%;
    }
  }

  @media screen and (max-width: $tablet-width) {
    padding: rem(12px);

    .logo {
       img {
         width: rem(40px);
       }
    }
  }
}

.hamburger {
  display: flex;
  color: $white;
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  border: none;
  width: fit-content;
}