@import "~sass-rem";
@import "src/styles/_variables.scss";

.header {
  padding: rem(20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width:100%;
  top: 0;
  height: auto;
  z-index: $sticky-header-zIndex;

  .logo {
    display: flex;

    img {
      width: rem(60px);
      cursor: pointer;
    }
  }

  @media screen and (max-width: $tablet-width) {
    padding: rem(12px);

    .logo {
       img {
         width: rem(40px);
       }
    }
  }
}

.hamburger {
   display: none;
   @media screen and (max-width: $tablet-width){
     display: flex;
     color: $primary-color;
     background-color: Transparent;
     background-repeat: no-repeat;
     cursor: pointer;
     overflow: hidden;
     outline: none;
     border: none;
     width: fit-content;
   }
}

.menuDivider {
   position: fixed;
   right: rem(72px);
   height: 100vh;
   z-index: $menu-mobile-zIndex;
   border: 2px solid orangered;
   opacity: 0.3;
   display: flex;
   margin: 0;
   @media screen and (max-width: $tablet-width) {
     display: none;
   }
}