@import "styles/_variables.scss";
@import "~sass-rem";

/* override browser default */
html,
body {
   margin: 0;
   padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
   height: 100vh;
   width: 100vw;
   background-color: $bg-color;
   font: 100% $font-stack;
}

/* include border and padding in element width and height */
* {
   box-sizing: border-box;
}

.iconColor {
   color: $primary-color;
}

.show {
   display: flex;
}

.hide {
   // need to refactor for better solution
   // this works only for header hide and show
   @media screen and (max-width: $mobile-width) {
      display: none;
   }
}

.active {
   box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
   background: $teritary-color;
}