@import "styles/_variables.scss";
@import "~sass-rem";

/* override browser default */
html,
body {
   margin: 0;
   padding: 0;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

/* use viewport-relative units to cover page fully */
body {
   height: 100vh;
   width: 100vw;
   background-color: $bg-color;
   font: 100% $font-stack;

   .app {
      overflow-y: scroll;
      scroll-snap-type: y mandatory;

      section {
         scroll-snap-align: center;
      }
   }
}

/* include border and padding in element width and height */
* {
   box-sizing: border-box;
}

.iconColor {
   color: $primary-color;
}

.show {
   display: flex;
}

.hide {
   // need to refactor for better solution
   // this works only for header hide and show
   @media screen and (max-width: $mobile-width) {
      display: none;
   }
}