@import "styles/_variables.scss";
@import "~sass-rem";

html, body {
   width: 100%;
   height: 100%;
   background-color: $bg-color;
   font: 100% $font-stack;
   box-sizing: border-box;
   min-height: 100vh;
   min-width: 100vw;
   display: flex;
   flex-direction: column;
   overflow:auto;
   .app {
      flex: 1;
   }
}

.iconColor {
   color: $primary-color;
}

.show {
   display: flex;
}

.hide {
   // need to refactor for better solution
   // this works only for header hide and show
   @media screen and (max-width: $mobile-width) {
      display: none;
   }
}